<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="section">
        <div class="questionnaire-container">
            <div class="question visible" id="question1">
                <p class="question-text">{{ question }}</p>
                <div class="options">
                    {% for answer_option in answer_options %}
                    <div class="option" onclick="submitAnswer('{{ question_id }}', '{{ loop.index }}', '{{ answer_option }}')">
                        {{ loop.index }}. {{ answer_option }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Other questions and submit section -->
        </div>
    </section>
    <script>
        function submitAnswer(questionId, answerIndex) {
            // Redirect to the URL with the selected answer and its enumerated index
            window.location.href = `/answer_question/${questionId}/${answerIndex}`;
        }
    </script>
</body>
</html>
