<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="scale-section">
        <div class="scales-container">
            <label class="label">Leadership</label>
            <div class="scale">
                <div class="line"></div>
            </div>
            <label class="label">Time Management</label>
            <div class="scale">
                <div class="line"></div>
            </div>
            <label class="label">Communication</label>
            <div class="scale">
                <div class="line"></div>
            </div>
            <label class="label">Adaptability</label>
            <div class="scale">
                <div class="line"></div>
            </div>
            <label class="label">Emotional Intelligence</label>
            <div class="scale">
                <div class="line"></div>
            </div>
            <label class="label">Conflict Management</label>
            <div class="scale">
                <div class="line"></div>
            </div>
        </div>
    </section>
</body>
</html>